<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- Set title to current page title -->
        <title><%= current_page.data.title || "Datica HIPAA Docs" %></title>
        <meta name="description" content="Our company is built with information security and compliance at its core. Our policies, procedures, and technology go above and beyond HIPAA compliance to ensure our users' data, and their users' data, is secure. We take HIPAA compliance seriously because we believe it is the right thing to do.">
        <!-- Set keyword content to current post keywords data -->
        <meta name="keywords" content="HIPAA, Security, Compliance, Software, Infrastructure, Documentation">
        <meta property="og:description" content="Our company is built with information security and compliance at its core. Our policies, procedures, and technology go above and beyond HIPAA compliance to ensure our users' data, and their users' data, is secure. We take HIPAA compliance seriously because we believe it is the right thing to do.">
        <meta property="og:title" content="Datica HIPAA Compliance" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://policy.datica.io" />
        <meta property="og:image" content="/assets/img/logo.svg" />
        <meta property="og:locale" content="en_US">
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@daticahealth" />
        <meta property="twitter:title" content="Datica HIPAA Docs" />
        <meta property="twitter:description" content="Our company is built with information security and compliance at its core. Our policies, procedures, and technology go above and beyond HIPAA compliance to ensure our users' data, and their users' data, is secure. We take HIPAA compliance seriously because we believe it is the right thing to do." />
        <meta property="twitter:image" content="/assets/img/logo.svg" />
        <!-- Icons -->
        <link href="/assets/img/favicon.ico" rel="icon" type="image/png" />
        <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
        <%= partial "partials/ga" %>
        <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", "styles", "syntax" %>
    </head>
    <body class="<%= page_classes %>">
        <div class="fixed-bar"></div>
        <%= partial "partials/header" %>
        <div class="cf grid">
            <%= partial "partials/menu" %>
            <section class="content">
                <% current_page.data.sections && current_page.data.sections.each do |include| %>
                    <%= partial "sections/#{include}" %>
                <% end %>
                <%= yield %>
            </section>
        </div>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "all" %>
    </body>
</html>
