<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- Set title to current page title -->
        <title><%= current_page.data.title || "Penn WayToHealth HIPAA Docs" %></title>
        <meta name="description" content="Way to Health is a platfirm to research, develop abd deploy evidence based patient engagement strategies. We have been in use at the University of Pennsylvania School Of Medicine, Penn Medicine and multiple other healthcare research and care systems for several years. We are committed to providing the same level of protection and care of all protected health information (ePHI) that we handle.">
        <!-- Set keyword content to current post keywords data -->
        <meta name="keywords" content="HIPAA, Security, Compliance, Software, Infrastructure, Documentation">
        <meta property="og:description" content="Way to Health is a platfirm to research, develop abd deploy evidence based patient engagement strategies. We have been in use at the University of Pennsylvania School Of Medicine, Penn Medicine and multiple other healthcare research and care systems for several years. We are committed to providing the same level of protection and care of all protected health information (ePHI) that we handle.">
        <meta property="og:title" content="Penn WayToHealth HIPAA Compliance" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://policy.waytohealth.org" />
        <meta property="og:image" content="/assets/img/w2h-logo.png" />
        <meta property="og:locale" content="en_US">
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@PennWayToHealth" />
        <meta property="twitter:title" content="Penn WayToHealth HIPAA Docs" />
        <meta property="twitter:description" content="Way to Health is a platfirm to research, develop abd deploy evidence based patient engagement strategies. We have been in use at the University of Pennsylvania School Of Medicine, Penn Medicine and multiple other healthcare research and care systems for several years. We are committed to providing the same level of protection and care of all protected health information (ePHI) that we handle." />
        <meta property="twitter:image" content="/assets/img/w2h-logo.png" />
        <!-- Icons -->
        <!--link href="/assets/img/favicon.ico" rel="icon" type="image/png" />
        <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png"-->

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
        <!--meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff"-->

        <%= partial "partials/ga" %>
        <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", "styles", "syntax" %>
    </head>
    <body class="<%= page_classes %>">
        <%= partial "partials/header" %>
        <div class="cf grid">
            <%= partial "partials/menu" %>
            <section class="content">
                <% current_page.data.sections && current_page.data.sections.each do |include| %>
                    <%= partial "sections/#{include}" %>
                <% end %>
                <%= yield %>
            </section>
        </div>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "all" %>
    </body>
</html>
